.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    text-align: center;
    color: red;
    background-color:aqua;
}

.footer {
    text-align: center;

    width: 100%;
    background-color: #eee;
}
.label1 {
    font-size: 36px;
    color: chocolate;
    font-family: Arial;
    font-weight: bold;
    display: block;
}

#label2 {
    font-size: 20px;
    color: cornflowerblue;
}

table {
    font-family: Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}